*{
    margin:0;
    padding:0;
}

ul,li,ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    background:none;
    border:none;
}

.after::after{
    display: block;
    content: "";
    clear: both;
}

/* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */
.ir_su{
    overflow:hidden;
    position: absolute;
    width:0;
    height:0;
    line-height: 0;
    text-indent: -9999px;
}


@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Ibarra+Real+Nova:ital,wght@1,600;1,700&family=Nanum+Gothic:wght@700&family=Noto+Sans+KR:wght@300;400&family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'Deciso-BoldItalic';
    src:url('../Fonts/Deciso-BoldItalic.ttf') format("truetype");
    font-style:normal;
    font-weight: normal;
}

body{
    background:#edeae4;
}



#wrap>section{
    padding-top:50px;
}

#wrap>section>h2{
 
    text-align: center;
    color:#28282a;
 
    font-family: 'Bebas Neue', cursive;
}


#wrap>section>h2>span{
    display: inline-block;
    /* position: absolute; */
    position: relative;
    font-size:4vw;
    padding:35px 0 15px 0;
    top:100px;
 
    transition: 0.8s cubic-bezier(0, 0.51, 0.16, 1.1);
    opacity: 0;
}

#wrap>section>h2>span::before{
    position: absolute;
    content: "";
    display: block;
    width:90px;
    height:90px;
    top:0;
    left:-20%;
    z-index:-1;
    background:#e71d36;
    display: none;
}

#wrap>section>h2>span::after{
    position: absolute;
    content: "";
    display: block;
    width:80%;
    height:2px;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    background:#ec7357;
}

#wrap>section>h2.on span{
    opacity: 1;
    top:0;
}

#main{
    height:100vh;
    position: relative;
    overflow: hidden;
    padding-bottom:0;
}

#main .title{
    position: absolute;
    width:100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#main .title .text{
    margin:0 auto;
    text-align: center;
}

@keyframes ani {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(270%);
    }
}


#main .title .text .text1 {
    display:inline-block;
    margin:0 auto 20px;

    position:relative;
    font:5.2vw 'Ibarra Real Nova'; 
    color:transparent;
    overflow:hidden;
    z-index:2;
}

#main .title .text .text2 {
    display:inline-block;
    margin:0 auto 20px;

    position:relative;
    font:3.5vw 'Ibarra Real Nova'; 
    color:transparent;
    overflow:hidden;
    z-index:2;
}

#main .title .text .text3 {
    display:inline-block; 
    mix-blend-mode: difference;
    position:relative;
    font-size: 30px;
    font-family: 'Nanum Gothic', sans-serif;
    color:transparent;
    font-weight: bold;
    color:transparent;
    overflow:hidden;
    z-index:2;
    display: none;
}

#main .title .infinite{
    position: relative;
}

#main .title .infinite>img{
    display: block;
    margin:0 auto;
    width:50%;
    transform:rotate(90deg) scale(0.5);
    animation: rotateOn 2.5s forwards 1s;
}

#main .title .infinite>p{
    position: absolute;
    top:43%;
    font-size:1.5vw;
    opacity:0;
    animation:opacity 2s forwards 1s;
    font-family: 'Noto Sans KR', sans-serif;
    color:#011627;
}

#main .title .infinite>p:nth-of-type(1){
    left:30%;
}

#main .title .infinite>p:nth-of-type(2){
    right:30%;
    text-align:right;
}

@keyframes rotateOn{
    0%{
        transform:rotate(90deg);
    }

    100%{
        transform:rotate(180deg);
    }
}

@keyframes opacity {

    0%{
        opacity:0;
    }

    100%{
        opacity:1;
    
    }
}

/* .follow {
	width: 50px;
	height: 300px;
	position: absolute;
	left: 50%;
	margin-left: -25px;
	top: 60%;
	overflow: hidden;
	animation: followAni 2s infinite 0s normal;
    opacity: 0;
    display:none;
}


@keyframes followAni {
	from {
		height: 0;
		opacity: 0;
	}

	to {
		height: 300px;
		opacity: 1;
	}
}

.line {
	width: 1px;
	height: 204px;
	background: url(./line.png) no-repeat;
	margin: 0 auto;
	animation: lineAni 2s infinite 0s normal;
	opacity: 0;
}

@keyframes lineAni {
	from {
		height: 30px;
		opacity: 0;
	}

	to {
		height: 204px;
		opacity: 1;
	}
}



.follow>span>img {
	width: 10%;
	margin: 5px auto;
	animation: arrowAni 2s infinite 0s normal;
	opacity: 0;
}

@keyframes arrowAni {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
} */

#main .open-menu{
    display: block;
    /* display: none; */
    position: fixed;
    top:3%;
    right:2%;
    width:100px;
    height:100px;
    border-radius: 50%;
    background:#ef5a3f;
    animation-name: btn;
    animation-duration:2s;
    transition: 0.5s;
    animation-iteration-count: infinite;
    z-index:150;
    cursor: pointer;
}

@keyframes btn{
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

#main .open-menu .button{
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:50px;
    height:44px;
   
}

#main .open-menu .button span{
    display: inline-block;
    position: absolute;
    left:0;
    width:100%;
    height:4px;
    background:#fff;
    border-radius: 4px;
    transition: 0.4s;
}

#main .open-menu .button span:nth-child(1){
    top:0;
}

#main .open-menu .button span:nth-child(2){
    top:20px;
}

#main .open-menu .button span:nth-child(3){
    bottom:0;
}

#main .open-menu .button.on span:nth-child(1){
    transform: translateY(20px) rotate(-45deg);
}

#main .open-menu .button.on span:nth-child(2){
    left:50%;
    opacity:0;
    animation:active .8s forwards;
}

@keyframes active{
    100%{
        height:0;
    }
}

#main .open-menu .button.on span:nth-child(3){
    transform: translateY(-20px) rotate(45deg);
}

#main .menu{
    position: fixed;
    width:100%;
    height:100%;
    top:-100%;

    right:0;
    background:#28282a;
    transition: 0.5s;
    z-index:100;
}

#main .menu ul{
    position: absolute;
    width:90%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

#main .menu ul li{
    color:#fff;
    font-size:70px;
    padding:30px 0;
    font-family: 'Abril Fatface', cursive;
}

#main .menu ul li a:hover{
    color:#ef5a3f;
}

#main .menu.on{
    top:0;
}


#about .about_sec01{
    margin-top:120px;
    border-top:1px solid #111;
    border-bottom:1px solid #111;
}

.about_sec01>div{
    width:50%;
    float: left;
}

.about_sec01 .left>img{
    width:50%;
    margin:15% 25%;
}

.about_sec01 .left{
    position: sticky;
    top:0;

}

.about_sec01 .right{
    font-family: 'Noto Sans KR', sans-serif;
    color:#000;
    border-left:1px solid #111;
    box-sizing: border-box;
}

.about_sec01 .right>div{
    margin:150px auto;
    text-align: center;
}

.about_sec01 .right>div>h3{
    position: relative;
    font-size:2.5vw;
    color:#222;
    z-index: 5;
}

.about_sec01 .right>div>h3::after{
    position: absolute;
    z-index:-1;
    display: block;
    content: "";
    width:40%;
    height:50%;
    background:#efdc05;
    top:0;
    left:0;
}

.about_sec01 .right>div>ul{
    margin:5% 0;
}

.about_sec01 .right>div>ul>li{
    font-size:20px;
    padding:10px 0 0 32%;
    position: relative;
    
}

.about_sec01 .right>div>ul>li>span{
    margin-right:5%;
    text-align:left;
    color:#ef5a3f;
    font-weight: bold;
    position: absolute;
    left:150px;
}

.about_sec01 .right .balloon {
    position: relative;
    width:500px;
    transition: 1s;
    background:#b62515;
    color:#fff;
    padding:10px;
    line-height: 26px;
    text-align: center;
    border-radius: 10px;
    font-size:20px;
    line-height:40px;
    margin:15% auto;
}

#about .about_sec01 .balloon:after {
    border-top:15px solid #b62515;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content:"";
    position:absolute;
    top:10px;
    left:-15px;
}

/* skill */

/* .s-box{
    position: relative;
    width:70%;
 
    margin:150px auto 0;
}
.s-box li{
    float: left;
    width:33.3333%;
    text-align: center;
    font-size:2vw;
   
    margin-bottom:100px;
}

.s-box li:nth-of-type(4){
    width:50%;
}

.s-box li:nth-of-type(5){
    width:50%;
}

.s-box li .circle{
    width:150px;
    height:150px;
    border-radius: 50%;
    border:1px solid #222;
    line-height:150px;
    margin:0 auto;
}

.s-box li p{
    padding:10px 0;

} */

/* #about {
	width: 100%;
	height: 700px;
	padding-top: 200px;
	padding-bottom: 100px;
}



#about>h2 {
	width: 244px;
	height: 88px;
	background: url(../images/aboutme_title.png);
	background-size: 100% 100%;
	text-indent: -9999px;
	overflow: hidden;
	margin: 0 auto;
} */

/* 
#skills {
	width: 1200px;
	margin: 50px auto 0;
} */

#skills_wrap {
	width: 580px;
	overflow: hidden;
	margin: 150px auto 50px;
}


#skills_wrap .box {
	float: left;
	margin: 20px;
}

.circle_wrap {
	margin: 50px auto;
	width: 150px;
	height: 150px;
	background: #ddd;
	border-radius: 50%;
}

.circle_wrap .circle {
	overflow: hidden;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	opacity: 0.99;
	position: relative;
}

.circle_wrap .circle .mask,
.circle_wrap .circle .fill {
	width: 155px;
	height: 155px;
	position: absolute;
	border-radius: 50%;

}

.circle_wrap .circle .mask {
	clip: rect(0px, 200px, 200px, 74px);

}

.circle_wrap .circle .mask .fill {
	clip: rect(0px, 75px, 150px, 0px);
	background-color: #ef5a3f;
}


.circle_wrap .circle.photoshop .mask.full,
.circle_wrap .circle.photoshop .mask .fill {
	animation: fillphotoshop ease-in-out 3s;
	transform: rotate(110deg);
}

@keyframes fillphotoshop {
	0% {
		transform: rotate(3deg);
	}

	100% {
		transform: rotate(110deg);
	}
}

.circle_wrap .circle.illust .mask.full,
.circle_wrap .circle.illust .mask .fill {
	animation: fillillust ease-in-out 3s;
	transform: rotate(110deg);
}

@keyframes fillillust {
	0% {
		transform: rotate(3deg);
	}

	100% {
		transform: rotate(110deg);
	}
}

.circle_wrap .circle.html .mask.full,
.circle_wrap .circle.html .mask .fill {
	animation: fillhtml ease-in-out 3s;
	transform: rotate(130deg);
}

@keyframes fillhtml {
	0% {
		transform: rotate(3deg);
	}

	100% {
		transform: rotate(130deg);
	}
}

.circle_wrap .circle.css .mask.full,
.circle_wrap .circle.css .mask .fill {
	animation: fillcss ease-in-out 3s;
	transform: rotate(130deg);
}

@keyframes fillcss {
	0% {
		transform: rotate(3deg);
	}

	100% {
		transform: rotate(130deg);
	}
}

.circle_wrap .circle.java .mask.full,
.circle_wrap .circle.java .mask .fill {
	animation: filljava ease-in-out 3s;
	transform: rotate(90deg);
}

@keyframes filljava {
	0% {
		transform: rotate(3deg);
	}

	100% {
		transform: rotate(90deg);
	}
}

.circle_wrap .circle.jquery .mask.full,
.circle_wrap .circle.jquery .mask .fill {
	animation: filljquery ease-in-out 3s;
	transform: rotate(95deg);
}

@keyframes filljquery {
	0% {
		transform: rotate(3deg);
	}

	100% {
		transform: rotate(95deg);
	}
}

.circle_wrap .inside_circle {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background: #fff;
	line-height: 120px;
	text-align: center;
	margin-top: 15px;
	margin-left: 15px;
	position: absolute;
	z-index: 100;
	font-size: 18px;
}

/* work */

#work{
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}

#work .ex{
    position: relative;
    width:80%;
    text-align: center;
    margin:150px auto;
    font-size:20px;
}

/* #work .ex img{
    position: absolute;
    display: block;
    width:50px;
    top:0;
}

#work .ex img:nth-child(1){
    left:15%;
}

#work .ex img:nth-child(2){
    right:15%;
} */

#work .ex img{
    position: absolute;
    display: block;
    width:50px;
    top:0;
}

#work .ex img:nth-child(1){
    left:15%;
}

#work .ex img:nth-child(2){
    right:15%;
}


#work>section{
    position: relative;
    margin-bottom:150px;
}

#work>section .num{
    font-size:200px;
    display: inline-block;
    position: absolute;
    top:-15%;
    right:45%;
    font:13.5vw/1 'Deciso-BoldItalic'; 
    z-index:-1;
    opacity: 0;
    transform: translateY(200px);
    transition: 1s;
}

#work>section.on .num{
    opacity:0.2;
    transform: translateY(0);
}

#work>section img{
    display: block;
    float: left;
    width:50%;
    padding:30px;
    box-sizing: border-box;
    transform: translateY(400px);
    opacity: 0;
    transition: 1s;
}

#work>section.on img{
    opacity: 1;
    transform: translateY(0);
}

#work>section .comment{
    float: left;
    width:50%;
    margin-top:10%;
    opacity: 0;
    transform: translateX(500px);
    transition: 1s;
}

#work>section .comment h3{
    font: 3.5vw/1 'Deciso-BoldItalic';
    text-align: center;
}

#work>section .comment p{
    left:50%;
    text-align: center;
    margin-top:50px;
    font-size:18px;
    line-height: 28px;
}

#work>section.on .comment{
    opacity: 1;
    transform: translateX(0);
}

#work .work2 img{
    float: right;
}

#work .work2 .comment{
    transform: translateX(-500px);
}

#work>section .comment .link{
    text-align: center;
    margin-top:50px;
}

#work>section .comment .link a{
    position: relative;
    display:inline-block;
    padding:10px 20px;
    color:#cc0000;
    margin-right: 20px;
    overflow: hidden;
    border:1px solid rgba(255,255,255,1);

}

#work>section .comment .link a::before{
    display: block;
    content: "";
    position: absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);
    width:0px;
    height:100%;
    transition: 0.5s;
    z-index: -1;
}

#work>section .comment .link a:hover{
    color: #fff;
}

#work>section .comment .link a:hover::before{
    width:100%;
    background:#cc0000;
}

#work>section .comment .link a:last-child{
    margin-right:0;
}

#work>section .comment .link a:active {
    transform: translateY(2px);
}

#work>section:nth-of-type(even)>div .link a{
    color:#4b1248;
}

#work>section:nth-of-type(even)>div .link a:hover{
    color:#fff;
}

#work>section:nth-of-type(even)>div .link a:hover::before{
    width:100%;
    background:#4b1248;
}

#work>section:last-of-type>div h2{
    font-family: 'Noto Sans KR', sans-serif;
}

#work>section:last-of-type>div .link a{
    color:#f9930f;
}
#work>section:last-of-type>div .link a:hover{
    color: #fff;
}
#work>section:last-of-type>div .link a:hover::before{
    width:100%;
    background:#f9930f;
}

/* contact */

#contact{
    width:100%;
    height:750px;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
}

#contact .mouse{
    position: relative;
    height:50px;
    font-size:25px;
    text-align: center;
    margin:20px 0;
}

.mouse>img{
    display: block;
    position: absolute;
    float: left;
    width:10%;
    margin:0 auto;

    left:50%;
    transform: translateX(-50%);
    animation:mouse 1s infinite;
}

@keyframes mouse{
    0%{
        top:0;
    }
/* 
    50%{
        top:50%;
    } */

    100%{
        top:100%;
    }
}

#contact .form {
    width: 50%;
    height: 400px;
    margin:50px auto 0;
    /* position: absolute; */
    border: 2px solid #ef5a3f;
    perspective: 900px;

    /* top:25%;
    left:50%;
    transform: translateX(-50%); */
    /* margin: 100px auto; */
}

#contact .form .pic {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    background: #ef5a3f;
    background:url(../image1/bg.gif) no-repeat;
    background-size: 100% 100%;
    padding-top:130px;
    box-sizing: border-box;
}

#contact .form .pic li{
    float: left;
    width:32%;
    margin-right:2%;
}

#contact .form .pic li:last-child{
    margin-right: 0;
}

#contact .form .pic li img{
    display: block;
    width:30%;
    margin:0 auto;
    transition: 0.5s;
}

#contact .form .pic li a{
    display: block;
}

#contact .form .pic li:hover img{
    transform: scale(1.2);
}

#contact .form .pic li p{
    padding-bottom:30px;
    font-size:19px;
    font-weight: bold;
}


#contact .form>.door {
    position: absolute;
    width: 50%;
    height: 100%;
    background: #ef5a3f;
    border: 2px solid #ec7357;
    box-sizing: border-box;
    transition: 0.5s;
}

#contact .form .dleft {
    top: 0;
    left: 0;
    transform-origin: left center;
}

#contact .form .dright {
    top: 0;
    right: 0;
    transform-origin: right center;
}

#contact .form:hover .dleft {
    transform: rotateY(-100deg);
    width: 20%;
}

#contact .form:hover .dright {
    transform: rotateY(100deg);
    width: 20%;
}

/*-----------------  모바일  ----------------*/


@media (max-width:1260px){

       /* about */

    .about_sec01 .right>div>ul>li{
        padding:10px 0 0 25%;
    }

    .about_sec01 .right>div>ul>li>span{
        left:20px;
        /* margin-left:10%; */
        margin-right:0;
    }
}

@media (max-width:1024px){

    /* menu */

    #main .burger{
        display: none;
    }

    /* .menu{
        position: absolute;
        width:100%;
        top:0;
        height:80px;

        background:none;
        transition: 0.5s;
        
  
    }
    
    .menu ul{
        position: absolute;
        width:90%;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    
    .menu ul li{
        color:#fff;
        font-size:18px;
        float: left;
        width:25%;
     
        font-family: 'Abril Fatface', cursive;
    }
    
    .menu ul li a:hover{
        color:#ef5a3f;
    }
    
    .menu.on{
        top:0;
    } */

    /* menu 끝 */

    #main .title .text .text1{
        font:8.2vw 'Ibarra Real Nova';

    }

    #main .title .text .text2{
        font:5.5vw 'Ibarra Real Nova';
    }

    #main .title .infinite>img{
        width:70%;
    }

    #main .title .infinite>p{
        font-size: 2.5vw;
    }

    #main .title .infinite>p:nth-of-type(1){
        left:20%;
    }

    #main .title .infinite>p:nth-of-type(2){
        right:20%;
    }

    #wrap section h1>span{
        font-size:5vw;
    }

    /* .wrap2 .left>img{
        width:70%;
        margin:10% 15%;
    } */

    .about_sec01 .right .balloon{
        width:400px;
        font-size:18px;
    }

    /* about */

    /* .right>div>ul>li{
        padding:10px 0 0 150px;
    }

    .right>div>ul>li>span{
        left:20px;
        margin-left:10%;
        margin-right:0;
    } */

    .about_sec01 .left>img{
        width:70%;
        margin:15%;
    }

    /*skill */

    #skills_wrap{
        width:650px;
    }

    #skills_wrap>.box{
        margin:33px;
    }

    /* work */

    #work .ex{
        font-size:22px;
    }

    #work .ex img:nth-child(1){
        left:0;
    }

    #work .ex img:nth-child(2){
        right:0;
    }

    #work>div .comment{
        margin-top:7%;
    }

    /* #work>div{
        padding:70px;
        height:560px;
    }

    #work>div:nth-of-type(odd)>div{
        width:45%;
        top:18%;
    }

    #work>div:nth-of-type(even)>div{
        width:45%;
        top:18%;
    } */

    /* contact */

    #contact .form{
        width:60%;
    }

    #contact .form .pic li p{
        font-size:15px;
    }

    #contact .form .pic li img{
        width:40%;
    }
}

@media (max-width:900px){

    /* about */

    .about_sec01>div{
        width:100%;
    }

    .about_sec01 .left>img{
        display: block;
        width:50%;
        margin:10% auto;
    }

    .about_sec01 .left{
        position: static;
    }

    .about_sec01 .right{
        border-left:none;
        border-top:1px solid #111;
    }

    .about_sec01 .right>.info, .cer, .edu{
        margin: 13% auto;
    }

    .about_sec01 .right>div>h3{
        font-size:3.5vw;
    }

    .about_sec01 .right>div>h3::after{
        left:50%;
        transform: translateX(-50%);
    }

    .about_sec01 .right>div>ul>li>span{
        left:230px;
    }

    .about_sec01 .right .balloon{
        width:500px;
        margin:10% auto;
    }

    /* work */

    #work .ex{
        font-size:17px;
    }

    #work .ex img{
        width:30px;
    }

    #work>div .comment h3{
        font:3vw/1 'Deciso-BoldItalic';
    }

    #work>div .comment p{
        font-size:15px;
        margin-top:30px;
        line-height:inherit;
    }

    #work>div .comment .link{
        margin-top:25px;
        font-size:13px;
    }
    /* #work .ex{
        font-size:20px;
    }

    #work .ex img{
        width:40px;
    }

    #work>div{
        height:inherit;
        padding:0;
        margin:70px;
    }

    #work>div>.num{
        position: static;
    }

    #work>div.on img{
        position: relative;
        top:0;
        width:80%;
        display: block;
        margin:0 auto;
    }

    #work>div.on .comment{
        position: relative;
        margin:30px auto;
      
    }

    #work>div:nth-of-type(odd)>div{
        top:0;
        width:100%;
        left:-100%;
        right:inherit;
    }

    #work>div:nth-of-type(odd)>div.on .comment{
        transform: translateX(100%);
    }

    #work>div:nth-of-type(even)>div.on .comment{
        transform: translateX(0);
    }

    .work2 img{
        right:inherit;
    } */

}

@media(max-width:768px){

    /* 오픈 메뉴 */

    #main .open-menu{
        display: none;
        width:80px;
        height:80px;
    }

    #main .open-menu .button{
        width:40px;
        height:30px;
    }

    #main .open-menu .button span:nth-child(1){
        top:0;
    }

    #main .open-menu .button span:nth-child(2){
        top:13px;
    }

    #main .open-menu .button span:nth-child(3){
        bottom:0;
    }

    #main .open-menu .button.on span:nth-child(1){
        transform: translateY(15px) rotate(-45deg);
    }

    #main .open-menu .button.on span:nth-child(3){
        transform: translateY(-12px) rotate(45deg);
    }

    /* //오픈 메뉴 */

    #wrap section h1>span{
        font-size:6.5vw;
    }

    #wrap>section>h2>span{
        font-size:8vw;
    }

    /* skill */

    #skill{
        display: none;
    }

    #skills_wrap{
        width:60%;
    }

    #skills_wrap>.box{
        margin:40px;
    }

    /* about */

    .about_sec01 .right>div>ul>li>span{
        left:170px;
    }

    /* work */

    #work .ex{
        width:90%;
    }

    #work>section>.num{
        top:-11%;
        left:20%;
        right:none;
        font:15.5vw/1 'Deciso-BoldItalic';
    }

    #work>section img{
        float: none;
        width:70%;
        margin:0 auto;
    }

    #work>.work2 img{
        float: none;
    }

    #work>section .comment{
        width:100%;
        float: none;
        margin:0 auto;
    }

 
}

@media(max-width:660px){
    
    /* about */

    .about_sec01 .right .balloon{
        width:70%;
    }

    .about_sec01 .right>div>ul>li{
        font-size: 15px;
    }

    .about_sec01 .right>div>ul>li>span{
        left:80px;
    }



    /* work */

    #work .ex{
        font-size: 13px;
        margin:100px auto;
    }

    #work .ex img{
      width:25px;
    }

    #work>div .comment{
        width:70%;
    }

    #work>div .comment h3{
        font:6vw/1 'Deciso-BoldItalic';
    }
}

@media(max-width:570px){

    /* work */
    #work>section img{
        width:80%;
    }
    #work>section .comment h3{
        font:6vw/1 'Deciso-BoldItalic';
    }

    /* contact */

    #contact .form .pic{
        padding-top:8%;
    }

    #contact .form .pic li{
        width:100%;
    }

    #contact .form .pic li p{
        padding-bottom: 0;
    }

    #contact .form .pic li img{
        width:12%;
        padding:20px 0;
    }
}

@media(max-width:425px){

    #main .title .text .text1{
        font:45px 'Ibarra Real Nova';
    }

    #main .title .text .text2{
        font:30px 'Ibarra Real Nova';
    }

    #main .title .infinite>img{
        width:90%;
    }

    #main .title .infinite>p{
        font-size:3.5vw;
    }

    #main .title .infinite>p:nth-of-type(1){
        left:10%;
    }

    #main .title .infinite>p:nth-of-type(2){
        right:10%;
    }

    #wrap section h1>span{
        font-size:40px;
    }

    /* about */

    .about_sec01{
        margin-top:50px;
    }

    .about_sec01 .right .balloon{
        font-size:15px;
    }

    .about_sec01 .right>div>h3{
        font-size:25px;
    }

    .about_sec01 .right>div>h3::after{
        width:50%;
    }

    .about_sec01 .right>div>ul>li{
        font-size:13px;
    }

    .about_sec01 .right>div>ul>li>span{
        left:30px;
    }

    /* skill */

    #skills_wrap{
        margin:100px auto 50px;
    }

    #skills_wrap>.box{
        margin:35px;
    }

    /* work */

    #work>div{
        margin-bottom:100px;
    }

    #work>div img{
        width:90%;
    }

    #work>div .comment{
        width:90%;
    }

    #work .ex img{
        display: none;
    }


    /* contact */

    #contact .form .pic{
        padding-top:15%;
    }
}

@media(max-width:375px){
    
    .about_sec01 .right .balloon{
        font-size:13px;
    }
    
    /* work */

    #work .ex{
        font-size:10px;
    }

    

}