*{
    margin:0;
    padding:0;
}

ul,li,ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.after::after{
    display: block;
    content: "";
    clear: both;
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Ibarra+Real+Nova:ital,wght@1,600;1,700&family=Nanum+Gothic:wght@700&family=Noto+Sans+KR:wght@300;400&family=Bebas+Neue&display=swap');

.box1{
    /* background:#EFFFE9; */
    /* background:linear-gradient(to bottom,#c7a1b7, #85a5dc);  */
    
    position: relative;
    overflow: hidden;
   
}

.text{
 
    padding-top:100px;
    margin:0 auto;
    /* left:50%;
    top:40%;
    transform: translate(-50%,-50%); */
    text-align: center;
}

@keyframes ani {
    0%{
        transform: translateX(0);
    }

    /* 50%{
        transform: translateX(50%);
    } */

    100%{
        transform: translateX(270%);
    }
}
/* .circle{
    position: absolute;
    width:850px;
    height:850px;
    border-radius: 50%;
   
    top:-240px;
    left:-70px;
    background:#754f44;
    z-index:1;
    animation: ani 2s alternate infinite;
} */

/* .circle{
    position: absolute;
    width:200px;
    height:120px;
    background:#754f44;
    top:0;
    left:0;
    z-index:1;
    animation: ani 2s alternate infinite;
} */

.text1 {
    display:block;
    margin:0 auto 20px;
    width:750px;
    position:relative;
    font:5.5vw/1 'Ibarra Real Nova'; 
    color:transparent;
    overflow:hidden;
    z-index:2;
}

.text2 {
    display:block;
    margin:0 auto 20px;
    width:150px; 
    position:relative;
    font:3vw/1 'Ibarra Real Nova'; 
    color:transparent;
    overflow:hidden;
    z-index:2;
}

.text3 {
    display:inline-block; 
    mix-blend-mode: difference;
    position:relative;
    font-size: 30px;
    font-family: 'Nanum Gothic', sans-serif;
    color:transparent;
    font-weight: bold;
    color:transparent;
    overflow:hidden;
    z-index:2;
    display: none;
}

/* div>img{
    display: block;
    width:30%;
    position: absolute;
    left:10%;
    top:20%;
    transform: translate(-50%,-50%);
} */
.infinite{
    position: relative;
}

.infinite>img{
    display: block;
    margin:0 auto;
    /* width:55%;
    margin:50px auto 0; */
    width:60%;
    transform:rotate(90deg) scale(0.5);
    animation: rotateOn 2s forwards 1s;
}

.infinite>p{
    position: absolute;
    top:43%;
    font-size:1.5vw;
    opacity:0;
    animation:opacity 4s forwards 1s;
    font-family: 'Noto Sans KR', sans-serif;
    color:#011627;
}

.infinite>p:nth-of-type(1){
    left:30%;
}

.infinite>p:nth-of-type(2){
    right:30%;
    text-align:right;
}

@keyframes rotateOn{
    0%{
        transform:rotate(90deg);
    }

    100%{
        transform:rotate(180deg);
    }
}

@keyframes opacity {

    0%{
        opacity:0;
    }

    100%{
        opacity:1;
    
    }
}

.follow {
	width: 50px;
	height: 300px;
	position: absolute;
	left: 50%;
	margin-left: -25px;
	top: 60%;
	overflow: hidden;
	animation: followAni 2s infinite 0s normal;
    opacity: 0;
    display:none;
}


@keyframes followAni {
	from {
		height: 0;
		opacity: 0;
	}

	to {
		height: 300px;
		opacity: 1;
	}
}

.line {
	width: 1px;
	height: 204px;
	background: url(./line.png) no-repeat;
	margin: 0 auto;
	animation: lineAni 2s infinite 0s normal;
	opacity: 0;
}

@keyframes lineAni {
	from {
		height: 30px;
		opacity: 0;
	}

	to {
		height: 204px;
		opacity: 1;
	}
}



.follow>span>img {
	width: 10%;
	margin: 5px auto;
	animation: arrowAni 2s infinite 0s normal;
	opacity: 0;
}

@keyframes arrowAni {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.burger{
    display: block;
    position: fixed;
    top:20px;
    right:20px;
    width:100px;
    height:100px;
    border-radius: 50%;
    background:#ef5a3f;
    animation-name: btn;
    animation-duration:2s;
    transition: 0.5s;
    animation-iteration-count: infinite;
    z-index:150;
    cursor: pointer;
}

@keyframes btn{
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.button{
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:50px;
    height:44px;
   
}

.button span{
    display: inline-block;
    position: absolute;
    left:0;
    width:100%;
    height:4px;
    background:#fff;
    border-radius: 4px;
    transition: 0.4s;
}

.button span:nth-child(1){
    top:0;
}

.button span:nth-child(2){
    top:20px;
}

.button span:nth-child(3){
    bottom:0;
}

.button.on span:nth-child(1){
    transform: translateY(20px) rotate(-45deg);
}

.button.on span:nth-child(2){
    left:50%;
    opacity:0;
    animation:active .8s forwards;
}

@keyframes active{
    100%{
        height:0;
    }
}

.button.on span:nth-child(3){
    transform: translateY(-20px) rotate(45deg);
}

.menu{
    position: fixed;
    width:100%;
    height:100%;
    top:-100%;
    /* right:0; */
    right:0;
    background:#28282a;
    transition: 0.5s;
    z-index:100;
}

.menu ul{
    position: absolute;
    width:90%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.menu ul li{
    color:#fff;
    font-size:70px;
    padding:30px 0;
    font-family: 'Abril Fatface', cursive;
}

.menu ul li a:hover{
    color:#ef5a3f;
}

.menu.on{
    top:0;
}

#wrap>div{
    height:100vh;
    padding-bottom:150px;
    background:#edeae4;
}

#wrap>div:last-child{
    padding-bottom: 0;
}

#wrap section{
    /* padding:100px 0; */
    height:100%;
 
}

/* #wrap div:nth-of-type(even)>section{
    background:#211f20;
}

#wrap div:nth-of-type(odd)>section{
    background:#ebdfc5;
} */

#wrap section h1{
    /* position: relative; */
    text-align: center;
    color:#28282a;
    /* font-family: 'Ibarra Real Nova', serif; */
    /* font-family: 'Abril Fatface', cursive; */
    font-family: 'Bebas Neue', cursive;
}


#wrap section h1>span{
    display: inline-block;
    /* position: absolute; */
    position: relative;
    font-size:3rem;
    padding:35px 0 15px 0;
    top:100px;
    /* left:50%;
    transform: translateX(-50%); */
    transition: 0.8s;
    opacity: 0;
}

#wrap section h1>span::before{
    position: absolute;
    content: "";
    display: block;
    width:90px;
    height:90px;
    top:0;
    left:-20%;
    z-index:-1;
    background:#e71d36;
    display: none;
}

#wrap section h1>span::after{
    position: absolute;
    content: "";
    display: block;
    width:80%;
    height:2px;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    background:#ec7357;
}

#wrap section h1.on span{
    opacity: 1;
    top:0;
}

/* intro */

#intro{
 
    /* height:900px; */
    position: relative;
  
    /* padding:180px 0; */
}

.wrap2 {
    /* width: 1600px; */
    width:85%;
    /* height: 700px; */
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background:#fbffb9; */
    margin-top: 100px;
    /* margin-left: -300px; */
}

.top {
    width: 0%;
    height: 12px;
    background-color: #28282a;
    position: absolute;
    top: 0px;
    left: 0px;
}

.right {
    width: 12px;
    height: 0%;
    background-color:  #28282a;
    position: absolute;
    right: 0px;
    top: 0px;
}

.bottom {
    width: 0%;
    height: 12px;
    background-color:  #28282a;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.left {
    width: 12px;
    height: 0%;
    background-color: #28282a;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.in{
    width:90%;
    /* position: absolute; */
    margin:55px;
    box-sizing: border-box;
}

.in .img{
    float: left;
    width:30%;
}

.img>img{
    display: block;
    width:100%;
    /* height:500px; */
    /* width:100%; */
    /* position: absolute; */
    margin-left:-600px;
    /* margin:55px; */
    transition: 1.2s;
}

#intro>p:nth-of-type(1){
    position: absolute;
    top:0%;
    left:8.5%;
    color:#754f44;
    font:80px/1 'Ibarra Real Nova'; 
    /* font-family: 'Ibarra Real Nova', serif; */
}

#intro>p:nth-of-type(2){
    position: absolute;
    bottom:0%;
    right:8.5%;
    color:#754f44;
    font:80px/1 'Ibarra Real Nova'; 
}

.box{
    float: left;
    width:70%;
    padding-left:100px;
    box-sizing: border-box;
    color:#754f44;
}

.box h2{
    position: relative;
    color:#28282a;
    font-size:1.25rem;
}

.box h2::after{
    display: block;
    content: "";
    position: absolute;
    left:0;
    bottom:0;
    width:70%;
    height:10px;
    z-index:-1;
    background:#efdc05;
    /* margin-top:10px; */
}

.box h3{
    font-size:16px;
    padding:10px 0;
}

.box p{
    color:#000;
    font-weight: 600;
    padding:13px 0;
    font-family: 'Nanum Gothic', sans-serif;
    font-size:14px;
}

.info{
    float: left;
    width:50%;
    margin-top:282px;
    /* padding:20px; */
}

.info>div{
    float: left;
    margin-top:20px;
}

.leftbox{
    width:30%;
 
}

.rightbox{
    width:70%;
}

.cer{
    float: left;
    width:50%;
    margin-top:60px;
}

.cer>div{
   
    float: left;
    margin-top:20px;
}

/* .cer1{
    width:40%;
}

.cer2{
    width:60%;
} */

.edu{
    margin-top:50px;
    width:50%;
    float:right;
}

.edu>div{
    float: left;
    margin-top:20px;
}

/* .edu1{
    width:40%;
}

.edu2{
    width:60%;
} */

.balloon {
    position: absolute;
    /* margin: 50px; */
    width:350px;
    /* height:150px; */
    margin:130px 0 0 380px;
    top:80%;
    opacity: 0;
    transition: 1s;
    background:#ef5a3f;
    color:#fff;
    padding:10px;
    /* padding:45px 10px 10px 10px; */
    line-height: 26px;
    text-align: center;
    border-radius: 10px;

}

.balloon:after {
    border-top:15px solid #ef5a3f;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content:"";
    position:absolute;
    top:10px;
    left:-15px;
}

.balloon.on{
    top:0;
    opacity: 1;
}

/* skill */

#skill{
    width:100%;
    position: relative;
    height:900px;
    font-family: 'Noto Sans KR', sans-serif;
    /* padding-bottom: 180px; */
    /* margin-top:150px; */
}

/* #skill>h1{
    color: #754f44;
    font-family: 'Ibarra Real Nova', serif;
    font-size:60px;
    overflow: hidden;
}

#skill>h1>span{
    display: block;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:100px;
    transition: 0.7s;
    opacity: 0;
    
}

#skill>h1.on span{
    top:0;
    opacity: 1;
} */

.box2{
    background: #ece5de;
}

.box2-1{
    margin-top:80px;
    position: absolute;
    width:100%;
    height:100%;
    /* width:100%; */
}

.box2-1>div{
    transition-timing-function: ease-in-out;
}

/* .skill>div{
    position: absolute;
    border-radius: 50%;
    transition: 1s;
    transform: scale(0);
    overflow: hidden;
    background-size: cover;
} */

.box2-1 .s1{
    width:350px;
    height:350px;
    position: absolute;
    border-radius: 50%;
    top:20%;
    left:15%;
    transition: 1s;
    transform: scale(0);
    overflow: hidden;
    /* margin:50px; */
    background:url("../image1/javascript.png")0 0 no-repeat;
    background-size: cover;
}

.inside{
    position: absolute;
    width:100%;
    height:100%;
    border-radius: 50%;
    background:rgba(0,0,0,0.7);
    top:0;
    left:-100%;
    transition: 0.5s;
    text-align: center;
}

.box2-1 div:hover .inside{
    left:0;
}

.s2{
    width:260px;
    height:260px;
    position: absolute;
    top:16%;
    left:32%;
    transition: 1.4s;
    transform: scale(0);
    background:url("../image1/html5.png")0 0 no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 50%;
    font-size:14px;
}

/* #skill .s2>.inner{
    position: absolute;
    width:100%;
    height:100%;
    border-radius: 50%;
    background:rgba(0,0,0,0.7);
    top:0;
    left:-100%;
    transition: 0.5s;
}

#skill .s2:hover .inner{
    left:0;
} */

.s3{
    position: absolute;
    left:70%;
    top:30%;
    width:220px;
    height:220px;
    border-radius: 50%;
    background:url("../image1/css3.png")0 0 no-repeat;
    background-size: cover;
    transform: scale(0);
    transition: 1s;
    overflow: hidden;
    font-size:15px;
}

.s3>.inside{
    top:-100%;
    left:0;
}

.s3:hover .inside{
    top:0;
   
}

.s4{
    position: absolute;
    width:300px;
    height:300px;
    left:50%;
    top:5%;
    border-radius: 50%;
    background: url("../image1/jquery.jpg")0 0 no-repeat;
    background-size: 100%;
    overflow:hidden;
    transform: scale(0);
    transition: 1.4s;
}

.s5{
    position: absolute;
    width:200px;
    height:200px;
    left:50%;
    top:50%;
    border-radius: 50%;
    background: url("../image1/photoshop.jpg.png")0 0 no-repeat;
    background-size: 100%;
    overflow:hidden;
    transform: scale(0);
    transition: 1s;
    font-size:15px;
}


.inside>p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:#fff;
    z-index:100;
    /* font-size:17px; */
}

/* work */

#work{
    width:100%;
    height:800px;
    font-family: 'Noto Sans KR', sans-serif;
    /* background:url("../image1/dot.png") no-repeat 0 100px;
    background-size: 100%; */
    /* position: relative; */
}

#work ul{
    width:75%;
    margin:100px auto 0;
}

#work ul li{
    float: left;
    width:32%;
    height:350px;
    margin-right:2%;
    position: relative;
}

#work ul li:last-child{
    margin-right:0;
}

#work ul li:first-child{
    background:url("../image1/wk.jpeg") 0 0 no-repeat;
    background-size: cover;
}

#work ul li:nth-child(2){
    background:url("../image1/conrad\ img2.jpg") 0 0 no-repeat;
    background-size: cover;
}

#work ul li:nth-child(3){
    background:url("../image1/health.png") 0 0 no-repeat;
    background-size: cover;
}

#work ul li .inner{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(239,92,63,0.8);
    opacity: 0;
    transition: 0.5s;
}

#work ul li .inner h2{
    color: #fff;
    text-align: center;
    margin-top:30px;
    font-size:1.563rem;
}

#work ul li .inner p{
    color:#fff;
    text-align: center;
    padding:0 20px;
    font-size:1.125rem;
    margin-top:80px;
}

#work ul li:hover .inner{
    opacity: 1;
    transform: translate(20px,20px);
}

#work ul li .inner>a{
    position: absolute;
    top:80%;
    color:#fff;
    font-size:0.9rem;
    font-weight: bold;
    /* padding:10px;
    border-radius: 50px;
    border:1px solid #754f44; */
}

#work ul li .inner>a:nth-of-type(1){
    left:15%;
}

#work ul li .inner>a::before{
    position: absolute;
    content: "";
    display: block;
    top:50%;
    transform: translateY(-45%);
    left:-10%;
    width:45px;
    height:45px;
    border-radius: 100px;
    background:#28282a;
    z-index: -1;
    transition: 0.5s;
}

#work ul li .inner>a:hover::before{
    width:102%;
    padding:0 10px;
}

#work ul li .inner>a:nth-of-type(2){
    right:10%;
}

#work .ex{
    position: relative;
    width:80%;
    /* height:300px; */
    text-align: center;
    margin:100px auto 0;
    font-size:20px;
}
#work .ex img{
    position: absolute;
    display: block;
    width:50px;
    top:0;
}

#work .ex img:nth-child(1){
    left:15%;
}

#work .ex img:nth-child(2){
    right:15%;
}

/* contact */

#contact{
    width:100%;
    /* height:800px; */
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
}

#contact .mouse{
    position: absolute;
    top:75%;
    left:50%;
    transform: translateX(-50%);
    font-size:25px;
    text-align: center;
}

.mouse>img{
    display: block;
    width:20%;
    margin:0 auto;
}

.form {
    width: 50%;
    height: 400px;
    position: absolute;
    border: 2px solid #ebdfc5;
    perspective: 900px;
    top:25%;
    left:50%;
    transform: translateX(-50%);
    /* margin: 100px auto; */
}

.form .pic {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    background: #ebdfc5;
    background:url(../image1/bg.gif) no-repeat;
    background-size: 100% 100%;
    padding-top:130px;
    box-sizing: border-box;
}

.form .pic li{
    float: left;
    width:32%;
    margin-right:2%;
}

.form .pic li:last-child{
    margin-right: 0;
}

.form .pic li a img{
    display: block;
    width:30%;
    margin:0 auto;
    transition: 0.5s;
}

.form .pic li a{
    display: block;
    font-weight: bold;

}

.form .pic li a:hover img{
    transform: scale(1.2);
}

.form .pic li a p{
    padding-bottom:30px;
    font-size:19px;
}


.form>.door {
    position: absolute;
    width: 50%;
    height: 100%;
    background: #ef5a3f;
    border: 2px solid #ebdfc5;
    box-sizing: border-box;
    transition: 0.5s;
}

.form .dleft {
    top: 0;
    left: 0;
    transform-origin: left center;
}

.form .dright {
    top: 0;
    right: 0;
    transform-origin: right center;
}

.form:hover .dleft {
    transform: rotateY(-100deg);
    width: 20%;
}

.form:hover .dright {
    transform: rotateY(100deg);
    width: 20%;
}