*{margin:0;padding:0;}

ul,ol,li{
    list-style: none;
}

a{text-decoration: none;
color:inherit;}

.after::after{
    display: block;
    content: "";
    clear: both;
}



@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat&family=EB+Garamond:wght@600&family=Julius+Sans+One&family=Libre+Baskerville&family=Nanum+Gothic&family=Sorts+Mill+Goudy:ital@1&display=swap');

p.typing-txt {
    display: none;
    
  }
  
  .typing {
      font-family: 'Anton', sans-serif;
      color:#fff;
      position: absolute;
      left:50%;
      transform: translateX(-50%);
      margin-top:20px;
      font-size:5.2vw;
      text-shadow: 5px 5px 5px #000;
    /*       position: absolute;*/
    display: inline-block;
    animation-name: cursor;
    animation-duration: 0.3s;
    /* animation-iteration-count: infinite;
    border-right: 1px solid #ccc; */
  }



#visual{
    position: relative;
    height:100vh;
    /* height:950px; */
    background:url("../images/bg.png") 0 0 no-repeat;
    background-size: cover;
}


#visual .cover{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: rgba(0,0,0,0.3);
    z-index:10;
}

#visual .cover>h1{
    display: none;
    font-family: 'Anton', sans-serif;
    color: #cc0000;
    font-size:70px;
    text-align:center;
}


#visual .cover .explain{
    width:40%;
    position: absolute;
    left:4%;
    bottom:20%;
    /* margin:500px 50px 0 0; */
    /* margin-top:500px;
    margin-left:30px; */
    color:#fff;
    font-family: 'Nanum Gothic', sans-serif;
    font-size:15px;
    float:left;
    
}

.explain h2{
    font-family: 'Julius Sans One' , sans-serif;
    color:#fff;
    font-size:2vw;
    margin-bottom:20px;
}

.explain h3{
    margin-top:40px;
    font-size:1.5vw;
}

.explain p{
    font-size:1vw;
}

.link{
    position: absolute;
    bottom:50px;
    width:45%;
    left:2%;
    
}
.link>li{
    float: left;
    width:25%;
    margin:0 4.16%;
}

.link li a{
    display: block;
    text-align: center;
    position: relative;
    border: 2px solid #fff;
    padding:10px 15px;
    font-size:0.8rem;
    font-weight: bold;
    background:#440f76;
    font-family: 'Nanum Gothic', sans-serif;
    box-shadow: -2px 5px 6px black;
    overflow: hidden;
}

.link li a span{
   z-index:20;
   color:#fff;
}

.link li a::before{
    display: block;
    content: "";
    position: absolute;
    width:50px;
   height:155px;
   left:-75px;
   top:-50px;
    background:#fff;
    opacity: 0.2;
    transition: all 0.7s ease;
    transform:rotate(35deg);
}

.link li a:hover::before{
    left:120%;
    transition: all 0.5s ease;
}

/* .link li:active{
    transform: translateY(2px);
} */









.main3{
    width:100%;
    /* background:#000; */
    /* padding-top:600px; */
    position: relative;
    
/* 
    background: -webkit-linear-gradient(5deg, rgb(204, 0, 0), rgb(0, 0, 0));
    background: linear-gradient(5deg, rgb(204, 0, 0), rgb(0, 0, 0)); */
    
    /* background: url("../images/sub-bg.jpg")0 0 no-repeat;
    background-size: center; */

    /* background:#000; */

    
background: -webkit-radial-gradient(rgb(41, 38, 38), rgb(0, 0, 0));
background: radial-gradient(rgb(41, 38, 38), rgb(0, 0, 0));

}

#visual .cover>img{
    display: block;
    position: absolute;
    top:37%;
    right:0;   
    width:50%;
}

.concept{
    position: relative;
   
}

.title{
    position: absolute;
    margin-top:100px;
    width:300px;
    height:100px;
    left:-70px;
    box-shadow: 3px 5px 5px #000;
    box-sizing: border-box;
    padding-left:90px;
    background:#527e94;
    color: #fff;
    font-weight: bold;
    line-height: 100px;
    font-size:2.25vw;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 30px;
}

.problem{
    /* margin-top:300px; */
    /* position: absolute; */
    /* left:50%; */
    width:60%;
    margin:300px auto 0;
    /* transform: translateX(-50%); */
    font-family: 'Noto Sans KR', sans-serif;
}

.problem>img{
    position: absolute;
    display: block;
    left:50%;
    transform: translateX(-50%);
    margin-top:40px;
}

.p-1{
    border:1px solid #000;
    padding:70px 30px 30px 30px;
    border-radius: 30px;
    position: relative;
}

.p-1>li{
    float:left;
    width:32%;
    color:#959595;
    text-align: center;
    border:1px solid #000;
    border-radius: 30px;
    margin-right:2%;
    padding:20px 10px;
    position: relative;
    box-sizing: border-box;
    font-weight: bold;
    font-size:1vw;
}

.p-1>li>span{
    color:#000;
}

.p-1>h1{
    font-family: 'Julius Sans One',sans-serif;
    position: absolute;
    background:#000;
    color:#fff;
    padding:17px 40px;
    top:-18%;
    left:50%;
    transform: translateX(-50%);
    border-radius: 20px;
    
}

.p-1>li:last-child{
    margin-right:0;
}

/* solution */

.solution{
    /* margin-top:630px; */
    /* position: absolute; */
    /* left:50%; */
    width:60%;
    margin:150px auto 0;
    /* transform: translateX(-50%); */
    font-family: 'Noto Sans KR', sans-serif;
}

/* .solution>img{
    position: absolute;
    display: block;
    left:50%;
    transform: translateX(-50%);
    margin-top:40px;
} */

.s-1{
    border:1px solid #000;
    padding:70px 30px 30px 30px;
    border-radius: 30px;
    position: relative;
}

.s-1>li{
    float:left;
    width:32%;
    color:#959595;
    text-align: center;
    border:1px solid #000;
    border-radius: 30px;
    margin-right:2%;
    padding:20px 10px;
    position: relative;
    box-sizing: border-box;
    font-weight: bold;
    font-size:1vw;
}

.s-1>li>span{
    color:#000;
}

.s-1>h1{
    font-family: 'Julius Sans One',sans-serif;
    position: absolute;
    background:#959595;
    color:#fff;
    padding:17px 33px;
    top:-18%;
    left:50%;
    transform: translateX(-50%);
    border-radius: 20px;
    
}

.s-1>li:last-child{
    margin-right:0;
}

.tc{
    /* position: absolute; */
    width:60%;
    /* left:50%;
    transform: translateX(-50%);
    margin-top:900px; */
    margin:110px auto 0;
}

.tc li{
    border:1px solid #000;
    width:49%;
    margin-right:2%;
    float: left;
    border-radius: 30px;
    box-sizing: border-box;
    height:400px;
    position: relative;
}

.tc li:last-child{
    margin-right:0;
}


.tc li h2{
    text-align: center;
    padding:20px 0;
    border-bottom:1px solid #000;
}

.tc li .font{
    margin-top:100px;
}

.tc li:nth-of-type(1) p{
    text-align: center;
    font-size:1.62vw;
    font-family: 'Noto Sans KR', sans-serif;
    padding:10px 0;
}


.tc li p:nth-of-type(2){
    font-family: 'Sorts Mill Goudy', serif;
}


.tc li:nth-of-type(2)>div{
    position: absolute;
    width:120px;
    height:120px;
    color:#fff;
    font-weight:bold;
    padding:12px 0 0 12px;
    box-sizing:border-box;
}

.tc li:nth-of-type(2)>div:nth-of-type(1){
    top:25%;
    left:10%;
    background:#440f76;
}

.tc li:nth-of-type(2)>div:nth-of-type(2){
    background:#051856;
    top:40%;
    left:28%;
}

.tc li:nth-of-type(2)>div:nth-of-type(3){
    /* background:#f0c27b; */
    background:#bc9b6a;
    top:55%;
    left:15%;
}

.tc li:nth-of-type(2)>p {
    position: absolute;
    right:50px;
    bottom:20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:0.9vw;
}


/* main */

.main{
    position: relative;
    /* margin-top:300px; */
    margin:300px 0 150px 0;
}

.main>div{
    float: left;
}

.comment{
    width:25%;
    padding-left:100px;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

.comment .c1{
    margin-top:5vw;
}

.c2{
    margin-top:10vw;
}

.c3{
    margin-top:15vw;
}

.c4,.c5,.c6{
    margin-top:20vw;
}

.c7{
    position: absolute;
    bottom:-50px;
    /* margin-top:18vw; */
}

/* .c5{
    margin-top:500px;
} */

.comment>div>h2{
    position: relative;
    color: #4b1248;
    padding:10px 0;
}

.comment>div>h2::after{
    position: absolute;
    content: "";
    display: block;
    width:120%;
    height:3px;
    background:#4b1248;
    left:0;
    bottom:0;
}

.comment>div>p{
    font-size:1vw;
    margin-top:20px;
}


.title2{
    position: absolute;
    margin-top:100px;
    width:300px;
    height:100px;
    left:-70px;
    box-shadow: 3px 5px 5px #000;
    box-sizing: border-box;
    padding-left:130px;
    background:#527e94;
    color: #fff;
    font-weight: bold;
    line-height: 100px;
    font-size:2.25vw;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 30px;
}

.ex{
    width:75%;
    
}

.ex img{
    float: left;
}

.main .ex img:nth-of-type(1){
    display: block;
    width:60%;
    margin-left:10%;
    box-shadow: -10px 5px 15px #000;
}

.main .ex img:nth-of-type(2){
    display: block;
    width:20%;
    margin-left:50px;
}

/* 모바일 */

@media(max-width:425px){
    
    .typing{
        font-size:8.5vw;
    }

    #visual{
        height:600px;
    }

    #visual .cover>img{
        width:90%;
        top:20%;
        left:50%;
        transform: translateX(-50%);
        right:inherit;
    }

    #visual .cover .explain{
        width:90%;
        text-align: center;
        left:50%;
        bottom:20%;
        transform: translateX(-50%);
    }

    .explain h2{
        font-size:20px;
    }

    .explain p{
        font-size:13px;
    }

    .explain h3{
        font-size:17px;
    }

    .link{
        width:90%;
        bottom:40px;
        left:50%;
        transform: translateX(-50%);
    }

    .link>li{
        width:32%;
        margin:0 2% 0 0;
    }

    .link li a {
        padding:10px;
        font-size:0.5rem;
    }

    .link li:last-child{
        margin:0;
    }

    .problem{
        width:80%;
    }

    .problem>img{
        margin-top:20px;
    }

    .p-1{
        padding:30px;
    }

    .p-1>li{
        width:100%;
        font-size:12px;
        margin-right:0;
        margin-bottom:2%;
    }

    .title{
        width:200px;
        height:50px;
        line-height:50px;
        font-size:17px;
    }

    .solution{
        width:80%;
    }

    .s-1{
        padding:30px;
    }

    .s-1>li{
        width:100%;
        margin-right:0;
        margin-bottom:2%;
        font-size:12px;
    }

    .tc{
        width:85%;
    }

    .tc li{
        height:250px;
    }

    .tc li h2{
        font-size:17px;
    }

    .tc li .font{
        margin-top:50px;
    }

    .tc li:nth-of-type(1) p{
        font-size:11px;
    }

    .tc li:nth-of-type(2)>div{
        width:70px;
        height:70px;
        font-size:10px;
    }

    .tc li:nth-of-type(2)>div:nth-of-type(1){
        top:33%;
        left:10%;
    }

    .tc li:nth-of-type(2)>div:nth-of-type(2){
        top:40%;
        left:47%;
    }

    .tc li:nth-of-type(2)>p{
        left:15px;
        right:inherit;
        bottom:10px;
        font-size:0.8vw;
    }

    .title2{
        width:200px;
        height:50px;
        line-height:50px;
        font-size:17px;
        padding-left:110px;
    }

    .main{
        margin:200px 0 100px 0;
    }

    .comment{
        display: none;
    }

    .ex{margin-left:50px;}

    .main .ex img:nth-of-type(1){
        margin-left: 0;
        width:100%;
    }

    .main .ex img:nth-of-type(2){
        margin-top: 40px;
        width:80%;
        margin-left:40px;
    }
}