*{
    margin:0;
    padding:0;
}

ul,ol,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.after::after{
    display: block;
    content:"";
    clear: both;
}

.hide{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    font-size: 0;
    visibility: hidden;
    line-height: 0;
}

/* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */
.ir_su{
    overflow:hidden;
    position: absolute;
    width:0;
    height:0;
    line-height: 0;
    text-indent: -9999px;
}

/* body {
    background:yellow;
} */

#wrap {
    width: 100%;
    position: relative;  
    font-family: 'Noto Sans KR', sans-serif;
}

/*------------------------------- 모바일 메뉴 --------------------------- */

#moPanel {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0px;
    left: -100%;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.5s; 
    overflow-y:auto;
}

#moPanel.on {
    left: 0px; 
}

#moGnb {
    position: absolute;
    top: 15%;
    left: 0px;
    z-index: 100;
    width: 100%;
}

#moGnb>li {
    border-bottom: 1px solid #bc9b6a;
}

#moGnb>li>a {
    display: block; 
    font-size: 16px; 
    background: #000;
    color: #bc9b6a; 
    padding: 22px 15px;
}

#moGnb>li>.sub {
    display: none;
}

#moGnb>li>.sub>li {
    border-bottom: 1px solid #000; 
}

#moGnb>li>.sub>li>a {
    display:block; 
    background:#eee; 
    color:#222; 
    padding: 15px 30px;
}

header{
    position: absolute;
    z-index:50;
    width:100%;
}

.headerWrap{
    position: relative;
}

header .info{
    position: absolute;
    right:5%;
    margin-top:25px;
}

header .info li{
    float: left;
    position: relative;
    padding:0 10px;
    font-size:12px;
    color:#fff;
}

header .info li::after{
    display: block;
    position: absolute;
    right:0;
    top:-2px;
    width:1px;
    height:12px;
    margin-top:6px;
    background:#fff;
    content: "";
}

header .info li:hover a {
    border-bottom: 1px solid #fff;
}

header .info li:last-child:hover a{
    border-bottom:0;
}

header .info li:last-child::after{
    display: none;
}

header .info li:last-child{
    padding-left:10px;
    color:#fff;
    background:none;
   
}

header .info li:last-child a i{
    padding-left:5px;
}

header .info li:last-child .list{
    display: none;
    
}

header .info li:last-child .list li{
    padding:0;
   
}

header .info li:last-child .list.active{
    display: block;
}

.main_bg{
    position: relative;
    width:100%;
    height:30vw;
    background: url(../img/main7.jpg) center no-repeat;
    background-size: cover;
}

.main_bg .title{
    position: absolute;
    z-index: 10;
    font-size: 4vw;
    color: #fff;
    bottom: 20%;
    right: 10%;
    text-shadow: 3px 3px 3px #330d33;
}

.main_bg .title::after {
    display: block;
    position: absolute;
    right: 0;
    top: 55%;
    z-index:-1;
    width: 90%;
    padding: 1.6vw 0;
    content: "";
    background: linear-gradient(to left,rgba(214, 164, 38, 0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    transform: skewX(-45deg);
}

#header {
    top:90px;
    z-index: 1000;
    width: 100%;
    height: 8vmin;
    margin-top:30px;
    transition: 0.5s;
    color:#fff;
}

#header .menu {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}


#header .logo {
    float: left;
    width:10vmin;
    height:10vmin;
}

#header .logo img {
    display: block;
    height: 100%;
}

.gnb {
    float: left;
    position: relative;
    width:100%;
    height: 100%;
}

.gnb .mainmenu {
    height: 100%;
}


.gnb .mainmenu>li {
    float: left;
    position: relative;
    width: 14%;
    height: 100%;
    text-align: center;
}

.gnb .mainmenu>li:hover {
    background: rgba(0, 0, 0, 0.4);
}

.gnb .mainmenu>li>a {
    display: block;
    position: relative;
    width: 100%;
    font-size: 0.9vw;
    line-height: 8vmin;
}

.gnb .mainmenu>li .submenu {
    position: absolute;
    width: 100%;
    background:rgba(0,0,0,1);
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.submenu li {
    position: relative;
}

.submenu li a {
    display: block;
    width: 100%;
    padding: 12px 15px;
    font-size: 13px;
    box-sizing: border-box;
    color: #f0c27b;
}

.submenu li:hover a {
    background: rgba(155, 168, 185, 0.5);
}

.submenu::before {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 4px;
    background: #f0c27b;
    transform: translateX(-50%);
    transition: 0.7s;
    content: "";
}

.mainmenu>li:hover .submenu::before {
    width: 100%;
}

.btn {
    display: none;
    position: fixed;
    top:25px;
    right: 30px;
    width:30px;
    height:30px;
    background: none;
    font-size: 40px;
}

.btn span{
    display: block;
    position: absolute;
    top:50%;
    left:0;
    width:100%;
    height:3px;
    background:#fff;
    border-radius: 3px;
    transform: translateY(-50%);
    transition: 0.5s;
}

.btn span::before, .btn span::after{
    display: block;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:3px;
    content: "";
    background:#fff;
    border-radius: 3px;
    transition: 0.5s;
}

.btn span::before{
    top:-7px;
}

.btn span::after{
   top:7px;
}

.btn.on {
    position: fixed;
}

.btn.on span{ background:none;}

.btn.on span::before{top:0; transform:  rotate(45deg);}

.btn.on span::after{top:0; transform: rotate(-45deg);}


header.on #header {
    top:0;
}

header.on .gnb .mainmenu>li:hover a{
    color:#fff;
}

header .logo {
    padding:30px 0 0 0;
}

header .logo img {
    display: block;
    height:2.5vw;
    margin: 0 auto;
}

header .m_logo {
    display: none;
}


/* contents */

.contents {
    position: relative;
    width:65%;
    margin:150px auto;
}

.contents article{
    width:45%;
    float:left;
}

.contents .conosore{
    position: relative;
    height:450px;
    margin-right:10%;
    background:green;
    text-align: center;
    background: url(../img/box1.png)no-repeat;
    background-size: cover;
}

.contents .conosore .join{
    width:100%;
    height:100%;
    position: relative;
    color:#fff;
}

.join h4{
    position: absolute;
    top:18%;
    left:50%;
    transform: translateX(-50%);
    font-size:32px;
}

.join strong{
    position: absolute;
    width:85%;
    top:40%;
    left:50%;
    transform: translateX(-50%);
    /* display: block; */
    font-size:15px;
    font-weight: normal;
    line-height:30px;
}

.join a{
    position: absolute;
    width:80%;
    left:50%;
    transform: translateX(-50%);
    background:#bc9b6a;
    bottom:20%;
    padding:10px 0;
}

.login {
    width:40%;
    margin-top: calc((450px - 380.6px)/2);
    /* width:410px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%); */
    text-align:center;
}

.login h3{
    padding:0 0 20px;
    border-bottom:2px solid #111;
    text-align: center;
    line-height:1;
    font-size:32px;
    color:#111;
}

.login > ul {
    padding:40px 0 33px;
}

.login > ul li{
    padding: 0 0.4px 12px;
    text-align: left;
}

.login > ul li input{
    width:100%;
    height:46px;
    box-sizing: border-box;
    text-indent: 16px;
}

.login > ul li input::-webkit-input-placeholder {
    font-size: 16px;
    color: #9fa19f;
    text-indent: 16px;
}

.login > ul li input[type="checkbox"] {
    position: absolute;
    left: -3000%;
}

.login > ul li input[type="checkbox"] + label {
    height:36px;
    line-height:36px;
}

.login > ul li input[type="checkbox"] + label::before {
    display: inline-block;
    margin:0 10px 0 0;
    content: "";
    width:18px;
    height:18px;
    border:1px solid #666 ;
    background:#fff;
    vertical-align: -4px;
}

.login > ul li input[type="checkbox"]:checked + label::before{
    background: url(../img/checkbox.png) no-repeat center #333;
 
}

.login button {
    width:100%;
    height:56px;
    line-height:56px;
    font-size:18px;
    color:#fff;
    border: none;
    background: #011638;
    cursor: pointer;
}

.login div ul {
    display: flex;
    justify-content: center;
}

.login div ul li {
    position: relative;
    padding: 0 18px;
}

.login div ul li ~ li::after{          /* ~ 은 first-child 제외한 나머지가 선택됨 */
    content: "";
    position: absolute;
    left:0;
    top:5px;
    height:14px;
    width:1px;
    background:#111;
    transform: rotate(25deg);
}

.login div ul li a {
    font-size:14px;
    color:#111;
}

/*----------------------------  footer -----------------------------*/

#footer{
    width:100%;
    position: relative;
    padding:30px 0;
    height:100%;
    background:#011638;
    text-align: center;
    color: #fff;
    font-size:12px;
}

#footer li {
    position: relative;
    display:inline; 
    padding:0 7px 0 10px; 
    white-space: nowrap;
}
#footer li::before{
    content: "";
    width: 1px;
    height:14px;
    background:#dbdbdb;
    position: absolute;
    left:0;
    top:5px;
}
#footer li:first-child::before{
    width:0;
}
#footer ul:nth-child(2){
    padding-top:15px;
}

/* 반응형 */

@media (max-width:1000px){

    header h1{
        font-size:3.5rem;
    }
}

@media (max-width:1024px){

    #header .menu{
        width:90%;
    }

    #header .gnb li a {
        font-size:10px;
    }

    .contents{
        width:80%;
    }

    .login div ul li{
        padding:0 10px;
    }

    #footer ul {
        width: 90%;
        margin: 0 auto;
        padding-left: 0;
    }
}

@media (max-width:768px){

    header.on {
        position:fixed;
        background: #bc9b6a;
    }
    
    header.on .logo{
        transition: 0.5s;
        padding:30px 0 25px 0;
    }

    header h1{
        font-size: 3rem;
    }

    header .info{
        display: none;
    }

    #header{
        display: none;
        height:65px;
        margin-top:30px;
    }

    #header .menu{
        
        width:100%;
    }

    #header .logo{
        display: none;
        float:none;
    }

    header .logo2{
        display: block;
    }

    header .logo img{
        height:4.5vw;
    }
 
    #header .gnb{
        display: none;
    }

   .gnb>.mainmenu>li{
       line-height: 55px;
   }

   .btn {
        display: block;
    }

    .contents{
        margin:100px auto;
    }

    .contents article{
        width:70%;
        float: inherit;
    }

    .contents .conosore{
        height:300px;
        margin:0 auto;
    }

    .contents .login{
        margin:100px auto 0;
    }

    #footer ul li {
        font-size: 11px;
    }
}

@media (max-width:576px){

    #moGnb>li>a{
        font-size:15px;
    }

    #header{
        height:70px;
        margin-top:0;
    }

    #content>section>h2{
        font-size:5.5vw;
    }

    .join strong{
        font-size:13px;
    }
}

@media(max-width:480px){
    
    header .m_logo{
        display: block;
        margin-top:20px;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        color:#fff;
        font-weight: bold;
        font-size:17px;
    }
}


@media screen and (max-width:425px){

    header h1{
        font-size:2.5rem;
    }

    .btn{
        width:25px;
        right:20px;
    }

    .contents article{
        width:100%;
    }

    .login div ul li{
        padding:0 10px;
    }
}