*{
    margin:0;
    padding:0;
}

h1{
    text-align: center;
}

.album{
    height: 300px;
    width: 375px;
    overflow: hidden;
}

.images{
    position: relative;
    display: flex;
    height: 300px;
    transition: transform 0.5s;
}

img{
    width: 375px;
}