*{
    margin:0;
    padding:0;
}

ul,ol,li{
    list-style: none;
}

a{
    text-decoration: none;
    color:inherit;
}

button{
    border: 0;
    background: none;
    cursor: pointer;
}

html{
    font-size:62.5%;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}

.after::after{
    display: block;
    content: "";
    clear: both;
}

.wrap>section{
    width:100%;
    /* height:450px; */
    /* background: skyblue; */
}

#header{
    z-index: 500;
    position: fixed;
    /* top:20px; */
    height:90px;
    /* height:11vh; */
    width:100%;
    left:0;
    transition: 0.3s ease;
}

#header:hover{
    background: rgba(0,0,0,0.5);
}

.header_wrap{
    position: relative;
    height:100%;
    margin:0 auto;
    padding:0 90px;
}

.header_box{
    width:100%;
    height: 100%;
    /* background: #fff; */
}

.header_inner{
    position: relative;
    width:100%;
    max-width:1180px;
    height:100%;
    /* background: orange; */
    margin: 0 auto;
}

.logo a{
    position: absolute;
    display: block;
    width:110px;
    height:50px;
    top:19px;
    left:10px;
    background: url('./img/logo.png')no-repeat;
    background-size: contain;
}

.menu-container{
    position: relative;
    display: block;
    width:100%;
    max-width:1180px;
    margin:0 auto;
    padding: 0 10px;
}

.menu{
    display:inline-block;
    vertical-align: top;
    width:100%;
    box-sizing: border-box;
    padding-left:200px;
}

.menu li{
    float: left;
    width:20%;
    text-align: center;
    /* font-size: 1.2em; */
    /* font-size:1vw; */
    font-size: 1.8rem;
    /* font-size:2.3vh; */
    font-weight: 600;
    color: #fff;
}

.menu li a{
    /* position:relative; */
    display: block;
    padding:30px 0;
}

.menu li a span{
    display: inline-block;
    position: relative;
}

.menu li a span::after{
    display: block;
    content: "";
    position: absolute;
    width:0;
    height:4px;
    margin-top:5px;
    background: orange;
    transition: 0.5s;
}

.menu li a span:hover::after{
    width:100%;
}

/* 모바일 */

.mobutton{
    display: none;
    position: absolute;
    width:40px;
    height:31px;
    right:5%;
    top:50%;
    transform: translateY(-50%);
    /* top:25px; */
}

.mobutton i{
    font-size:35px;
}

.mobutton i.on{
    display: block;
}

/* .mobutton .menu-bar{
    display: none;
} */

/* .mobutton .close{
    display: none;
} */

.mobutton span{
    /* display: none; */
    position: absolute;
    width: 100%;
    height:5px;
    top:0;
    left:0;
    background: #fff;
}

.mobutton span:nth-child(2){
    top:13px;
}

.mobutton span:last-child{
    top:26px;
}

.mopanel {
    position: fixed;
    height: 100%;
    /* top: 77px; */
    top: 0;
    left: -100%;
    width: 100%;
    /* width: 95%; */
    background: #fff;
    transition: 0.5s;
}

.mopanel.on{
    left:0;
}

.mopanel .close{
    position: absolute;
    top:20px;
    right:6%;
    font-size: 40px;
}

.m-menu{
    margin-top:60px;
}

.m-menu li{
    transition: 0.2s;
}

.m-menu li a{
    position: relative;
    display: block;
    padding:15px 25px;
    font-size:1.8em;
}

.m-menu li a::after{
    position: absolute;
    display: block;
    content: "";
    /* width:85%; */
    width:90%;
    bottom:0;
    border:1px solid #f3f3f3;
}

.m-menu li:hover{
    background:#f7450c;
    color: #fff;
}

.m-menu li:hover a::after{
    display: none;
}

.section1{
    /* background:url('./img/Student_mv.mp4')no-repeat center; */
    background:url('./img/main02.png')no-repeat center;
    background-size: cover; 
}

/* .section1 video{
    height:100%;
} */

.section1 .intro{
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%,-10%);
    /* top:30%;
    left: 33%;
    transform: translateY(100px); */
    color: #fff;
    /* font-size: 3.5em; */
    font-size: 2.6vw;
    /* font-size:3.2rem; */
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.7s;
}

.section1 .intro.on{
    transform: translate(-50%,-50%);
    opacity: 1;
    visibility: visible;
}

.section1 .intro .main-title{
    font-family: 'DM Serif Text', serif;
}

.section1_inner .go{
    /* position: absolute;
    top:60%;
    left: 50%;
    transform: translateX(-50%); */
    display: inline-block;
    color: #fff;
    background: #f7450c;
    /* padding:15px 20px; */
    padding:20px 30px;
    /* font-size: 30px; */
    font-size: 1.2vw;
    transition: 0.5s;
    margin-top:40px;
}

.section1_inner .go:hover{
    background: #fff;
    color: #f7450c;
}

.section1 .scroll{
    position: absolute;
    padding-top:80px;
    left:50%;
    transform: translateX(-50%);
    bottom:5%;
    padding-left:5px; /* 추가 */
}

.scroll span{
    position: absolute;
    top:0;
    left:17%;
    width:25px;
    height:25px;
    border-left:1px solid #000;
    border-bottom:1px solid #000;
    transform:rotate(-45deg);
} 

.scroll span:nth-child(1){
    animation: ani 1.2s infinite;
    animation-delay: 0s;
}
.scroll span:nth-child(2){
    top:20px;
    animation: ani 1.2s infinite;
    animation-delay: 0.15s;
}

.scroll span:nth-child(3){
    top:40px;
    animation: ani 1.2s infinite;
    animation-delay: 0.3s;
}
@keyframes ani {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}



/* section2 */

.con2-1{
    width:80%;
    /* padding-top:250px; */
    padding-top:25vh;
    margin:0 auto;
    /* margin: 0 auto 100px; */
}

.title h2{
    font-size:3.5rem;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.title h2.on{
    opacity: 1;
    visibility: visible;
}

.con2-1 .title h2{
    /* font-size: 35px; */
    /* font-size: 2.2em; */
    transform: translateX(-120px);
}

.con2-1 .title h2.on{
    transform: translateX(0);
}

.con2-1-box .explain{
    float: left;
    width:45%;
    margin-right: 5%;
    margin-top:40px;
}

.explain p{
    /* font-size: 20px; */
    font-size:2rem;
    /* font-size: 1.17vw; */
    /* white-space: wrap; */
}

.con2-1-box .img-box{
    position: relative;
    float: left;
    width:50%;
    height:450px;
    /* background: blue; */
    background:url('./img/banner02.jpg')no-repeat 100%;
    background-size: cover;
    margin-top:40px;
    overflow:hidden;
}

.section3{
    background: url('./img/bg01.jpg')no-repeat center;
    background-size: cover;
}

.con3-1{
    width:100%;
    max-width:1180px;
    /* padding-top:130px; */
    /* padding-top:8.4vw; */
    padding-top:25vh;
    margin:0 auto;
}

.con3-1 .title{
    text-align: center;
}

.con3-1 .title h2{
    /* font-size: 2.2em; */
    /* font-size: 2.2vw; */
    transform: translateY(120px);
    transition: 0.7s;
}

.con3-1 .title h2.on{
    transform: translateY(0);
    /* opacity: 1;
    visibility: visible; */
}

.con3-1 .technology{
    /* width:100%; */
    /* width:80%; */
    margin:3.9vw auto 0;
    /* margin-top:80px; */
}

.con3-1 .technology li{
    position: relative;
    float: left;
    width:32%;
    /* height:496px; */
    /* height:300px; */
    height:41vh;
    /* background:skyblue; */
    margin:0 1%;
}

.con3-1 .technology li:nth-child(2){
    /* margin-top:50px; */
}

.con3-1 .technology li:last-child{
    margin-right: 0;
}

/* .technology li article{
    width: 100%;
    height: 100%;
} */

.technology li.tech1 .tech_img{
    width: 100%;
    height: 100%;
    background: url('./img/ai.jpg')no-repeat;
    background-size: cover;
}

.technology li.tech2 .tech_img{
    width: 100%;
    height: 100%;
    background: url('./img/device.jpg')no-repeat;
    background-size: cover;
}

.technology li.tech3 .tech_img{
    width: 100%;
    height: 100%;
    background: url('./img/notice2.jpg')no-repeat;
    background-size: cover;
}

/* .technology li:hover article{
    transform: scale(1.1);
} */

.con3-1 .technology li div{
    position: absolute;
    width:90%;
    height:120px;
    left:50%;
    bottom:0;
    transform: translateX(-50%);
    background:#fff;
}

.con3-1 .technology li div span{
    display: inline-block;
    width:40px;
    height: 40px;
    background:#f7450c;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

.con3-1 .technology li div p{
    padding:10px 20px;
    /* font-size: 14px; */
    font-size:1.4rem;
}

.technology li div strong{
    padding-left: 15px;
}


.technology .tech1{
    /* background: url('./img/ai.jpg')no-repeat -135px;
    background-size: cover; */
    /* transition: 0.5s;
    overflow:hidden; */
}

/* .technology .tech1:hover{
    transform: scale(1.1);
} */

/* .technology .tech2{
    background: url('./img/device.jpg')no-repeat -380px;
    background-size: cover;
}

.technology .tech3{
    background: url('./img/notice2.jpg')no-repeat -160px;
    background-size: cover;
} */

/* section4 */

.section4{
    overflow:hidden;
}

.section4 .con4-1>div{
    position: absolute;
    width:51.72%;
    /* width:600px; */
    height:34.48%;
    /* height:400px; */
    overflow:hidden;
}

.con4-1 .title{
    position: absolute;
    right:0;
    top:10%;
}

.con4-1 .title h2{
    /* font-size: 2.2em; */
    /* font-size: 2.2vw; */
    transform: translatex(120px);
    transition: 0.8s;
}

.con4-1 .title h2.on{
    transform: translateX(0);
}

.con4-1>div .go{
    position: absolute;
    top: 70%;
    left: 50%;
    padding:10px 20px;
    border-radius: 50px;
    transform: translatex(-50%);
    color: #fff;
    background: rgba(247,69,12,0.5);
    z-index:11;
    font-size:1.7rem;
}

.section4 .con4-1>div .inner{
    position: absolute;
    width:100%;
    height:100%;
    transform:translateX(-100%);
    background: rgba(0,0,0,0.5);
    z-index: 10;
    transition: 0.5s ease-in-out;
}

.section4 .con4-1>div .inner .inner_text{
    color: #fff;
    text-align:center;
    padding-top:100px;
    font-size: 18px;
}

.section4 .con4-1>.hover:hover .inner{
    transform: translateX(0);
}

.section4 .con4-1{
    position: relative;
    width:100%;
    height: 100%;
    max-width:1160px;
    padding-top:130px;
    margin:0 auto;
}

.section4 .con4-1 .teacher{
    top:22%;
    /* left:-10%; */
    left: 0;
    background: url(./img/teacher.jpg)no-repeat center;
    background-size: cover;
    transform: translatex(-100%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
}

.section4 .con4-1 .teacher.on{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.section4 .con4-1 .student{
    bottom:20%;
    /* right: -10%; */
    right: 0;
    background: url(./img/student.jpg)no-repeat center;
    background-size: cover;
    transform: translatex(100%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
}

.section4 .con4-1 .student.on{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.section5{
    background:#f7450c;
}

.con5-1{
    width:100%;
    max-width:1160px;
    padding-top:20vh;
    margin:0 auto;
}

.con5-1 .title{
    text-align: center;
}

.con5-1 .title h2{
    /* font-size:2.2em; */
    /* font-size: 2.2vw; */
    transform: translatey(120px);
    transition: 0.8s;
}

.con5-1 .title h2.on{
    transform: translatey(0);
    /* opacity: 1;
    visibility: visible; */
}

.con5-1 .review_wrap{
    width:100%;
    /* margin-top:50px; */
    margin: 50px auto 0;
}

.review_box{
    width:80%;
    height:450px;
    margin:0 auto;
    background: url('./img/bg02.jpg')no-repeat 100%;
    background-size: cover;
}

.review_box .review{
    position: relative;
    width:18%;
    float: left;
    height:450px;
    margin-right: 2%;
    /* background: #fff; */
    transition: 0.5s ease;
    overflow:hidden;
}

.review_box .review i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 35px;
    animation: animate 1s infinite;
    color: #f7450c;
    text-shadow: 5px 5px 5px #000;
}

@keyframes animate {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.review .review_inner{
    position: absolute;
    top:17%;
    right:-101%;
    width:90%;
    height:350px;
    background: #fff;
    transition: 0.5s ease;
}

.review_inner strong{
    display: block;
    text-align: center;
    padding:10px 15px;
    color: #f7450c;
    font-size:2rem;
}

.review_inner p{
    padding:10px 15px;
    font-size:1.5rem;
}

.review_box .review h3{
    position: relative;
    padding:10px 25px;
    z-index: 3;
    font-size:2.2rem;
}

.review_box .review h3::before{
    display: block;
    position: absolute;
    content: "";
    width:3px;
    height:18px;
    top:37%;
    left:10px;
    background: #000;
}

.review_wrap .review:hover{
    width:52%;
}

.review_wrap .review:hover .review_inner{
    right:5%;
}

.review_wrap .review:hover i{
    display: none;
}

.review_box .review span{
    display: block;
    position: absolute;
    content: "";
    width:100%;
    height:0;
    top:0;
    left: 0;
    background: rgba(247,69,12,0.5);
    transition: 0.5s;
    z-index: 2;
}

.review_wrap .review:hover span{
    height:50px;
}

/* .review_wrap .review:nth-child(1){
    width:100%;
    margin-bottom:30px;
} */

.review_wrap .review:last-child{
    /* width:50%; */
    margin-right: 0;
}

.back{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

/* section 6 */

.section6{
    background: #f2f2f2;
}

.section6 .con6-1{
    position: relative;
    width:100%;
    max-width:1160px;
    margin:0 auto;
    padding-top:130px;
}

.con6-1 .title{
    text-align: center;
}

.con6-1 .title h2{
    /* font-size:2.2em; */
    transform: translateY(120px);
    /* font-size:3.5rem; */
}

.con6-1 .title h2.on{
    transform: translateY(0);
}

.con6-1 .sun{
    position: absolute;
    width:100%;
    /* height:550px; */
    /* height:30vw; */
    height:58vh;
    margin-top:50px;
}
.sun .top{
    position: absolute;
    width:0%;
    height:1px;
    background: #000;
    top:0;
    left:0;
}

.sun .right{
    position: absolute;
    width:1px;
    height:0%;
    background: #000;
    top:0;
    right:0;
}

.sun .bottom{
    position: absolute;
    width:0%;
    height:1px;
    background: #000;
    bottom:0;
    right:0;
}

.sun .left{
    position: absolute;
    width:1px;
    height:0%;
    background: #000;
    bottom:0;
    left:0;
}

.contact{
    float: left;
    width:50%;
    height:100%;
    background: url("./img/contact.jpg")no-repeat center;
    background-size: cover;
}

.contact_t {
    position: relative;
    float: left;
    width: 50%;
    height:100%;
    text-align: center;
    /* padding:170px 30px; */
    /* padding:56.6% 10%; */
    box-sizing: border-box;
}

.contact_twrap{
    position: absolute;
    width:100%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
} 

.contact_twrap h3{
    /* font-size:1.5em; */
    font-size:2rem;
    margin-bottom:20px;
}

.contact_twrap p{
    font-size:1.4rem;
    padding:0 6.89%;
}

.contact_twrap .question{
    display: inline-block;
    background: #f7450c;
    color: #fff;
    padding:10px 25px;
    margin-top:25px;
    transition: 0.5s ease;
    font-size:1.7rem;
}

.contact_twrap .question:hover{
    background:#fff;
    color: #f7450c;
}

/* footer */

.top{
    position: fixed;
    width:40px;
    height:40px;
    background: #fff;
    bottom:20px;
    right:20px;
}

.top i{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #f7450c;
    font-size:20px;
}

/* 반응형 */

/* @media (hover: hover){
    .section4 .con4-1>div:hover .inner{
        transform: translateX(0);
    }
} */

@media(max-width:1400px){
    /* .con3-1 .technology{
        width:80%;
    } */
}
@media(max-width:1180px){
    
    .title h2{
        font-size:3rem;
    }

    /* section2 */

    .explain p {
        font-size:1.6rem;
    }

    /* section4 */

    .con4-1 .title {
        right:5%;
    }

}
@media(max-width:1160px){

    .con6-1 .sun{
        width:90%;
        left:50%;
        transform: translateX(-50%);
    }

    .contact_twrap{
        width:80%;
    }

}

@media(max-width:1024px){
    .section4 .con4-1>div{
        width:500px;
        height:350px;
    }
}

@media(max-width:1000px){

    /* .con3-1 .technology{
        width:90%;
    } */

    .con6-1 .sun{
        width:80%;
        left:50%;
        transform: translateX(-50%);
    }
}

@media(max-width:996px){

    .title h2{
        font-size:2.5rem;
    }
    .con2-1-box .img-box{
        height:350px;
    }

}

@media(max-width:768px){

    .header_wrap{
        padding:0 5%;
    }

    .logo a{
        left:0;
    }

    .mobutton{
        display: block;
    }

    .menu{
        display: none;
    }
    
    /* section 1 */

    .section1 .intro{
        top:50%;
        font-size:3rem;
    }

    .section1_inner .go{
        font-size:1.7rem;
        padding:15px 20px;
    }

    /* section 2 */

    .con2-1{
        width:90%;
    }

    .con2-1-box .img-box{
        height:300px;
    }

    /* section 3 */

    .con3-1 .technology li div p{
        font-size:1.2rem;
    }

    /* section 4 */

    .section4 .con4-1>div{
        width:49%;
        height:23.17%;
    }

    .con4-1>div .go{
        font-size:1.3rem;
    }
    
    .section4 .con4-1 .teacher{
        top:24%;
    }

    .section4 .con4-1 .student{
        bottom:25%;
    }

    .section4 .con4-1>div .inner .inner_text{
        padding:3.9vw 0.78vw;
        font-size: 1.3rem;
    }

    .section4 .con4-1>div:hover .inner{

    }

    /* section5 */

    .review_box .review h3{
        font-size:1.7rem;
    }

    .review_inner strong{
        font-size:1.6rem;
    }

    .review_inner p{
        font-size:1.2rem;
    }

}

@media(max-width:480px){

    .section1 .intro{
        width:100%;
        font-size:2.5rem;
    }

    .section1_inner .go{
        font-size:1.3rem;
    }

    .title h2{
        font-size:2.3rem;
    }
    
    .con2-1{
        padding-top:17vh;
    }
    
    .con2-1 .title {
        text-align: center;
    }

    .con2-1-box .explain{
        width:100%;
        margin:20px 0;
        /* margin-top:20px;
        margin-bottom:20px; */
    }

    .explain p {
        font-size:1.3rem;
    }

    .con2-1-box .img-box{
        width:100%;
    }

    /* section3 */

    .con3-1 {
        width:90%;
        padding-top:25vh;
    }

    /* section4 */

    .section4 .con4-1 .title{
        text-align: center;
    }

    .section4 .con4-1>div{
        width:100%;
    }

    .con4-1 .title{
        /* left:50%;
        transform: translateX(-50%);
        right:initial; */
    }

    .contact{
        width:100%;
        height:50%;
    }

    .contact_t{
        width:100%;
        height:50%;
    }

    .contact_twrap h3{
        font-size:1.4rem;
        margin-bottom:10px;
    }
}

@media (max-width:410px){
    
    .title h2{
        font-size:2rem;
    }
}