
header{}

.header_wrap{
    display: flex;
    width:1200px; /*width:85%, vw:80vw*/
    margin:35px auto 0;
    align-items: center;
    justify-content: space-between;
}

h1 .logo{
    display: block;
    width:170px;
    height:40px;
    background:url('../image/logo.png') no-repeat;
    background-size: contain;
}

nav ul{
    /* display: flex; */
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

main{}

main .back div{
    width: 50%;
}

.back div:nth-child(2){
    background: $main_color;
}